*{
    margin: 0;
    padding: 0;
}

.button {
   background-color: #4a8677;  /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.latar{
    color: white;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.latar2{
    color: white;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    background-size: cover;
    background-color: white;
}
h1{
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
}
h2{
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
}
p{
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
header{
    height: 50px;
    background-color: rgba(15, 13, 13, 0.952);
}
header ul{
    text-align: center;
}
header li{
    padding: 15px;
    display: inline-block;
}
header ul li a{
    transition: .3s;
}
header ul li a:hover{
    padding: 15px;
    color: #e59999;
    background-color: white;
}
.head{
    margin: 0 auto;
}
.head::after{
    content: '';
    display: none;
    padding: 15px;
    color: black;
}
.bar-menu{
    display: none;
    text-align: center;
    padding: 15px;
    color: black;
}
.bar-menu:hover{
    cursor: pointer;
}
#check{
    display: none;
}
.sidemenu{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    background-color: rgba(135, 133, 162, .6);
}
.sidemenu ul p a{
    color:white;
}
.sidemenu ul p{
    padding: 24px;
}
.sidemenu ul p:hover{
    background-color: black;
}
#check:checked ~ .sidemenu{
    right: 0;
}
footer{
    background-color: rgba(15, 13, 13, 0.952);;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
#hobby{
    padding-bottom: 10px;
    text-align: center;
}
#educations{
    padding-bottom: 10px;
    text-align: center;
}
#publication{
    padding-bottom: 10px;
    text-align: center;
}
#skills{
    padding-bottom: 10px;
    text-align: center;
    background-size: cover;
    color: white;
}
#gallery{
    text-align: center;
}
#contact-me{
    padding-bottom: 10px;
    text-align: center;
}
#contact-me label{
    font-family: 'Dosis', sans-serif;
}
.top{
    text-align: center;
    background-size: cover;
    color: white;
}
@media(max-width:900px){
    .bar-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    footer{
        padding-top: 2px;
        padding-bottom: 2px;
    }
}